body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* BOTTOM MENU */
#menu-upload,
#menu-save,
#menu-configuration {
    display: none;
}

#btn-print:hover #btn-print-icon {
    color: #0971CE;
}

#btn-clean:hover #btn-clean-icon {
    color: #0971CE;
}

#btn-save:hover #btn-save-icon {
    color: #0971CE;
}

#btn-upload:hover #btn-upload-icon {
    color: #0971CE;
}

#btn-save:hover #btn-save-icon {
    color: #0971CE;
}

#btn-exit:hover #btn-exit-icon {
    color: #0971CE;
}

#btn-configuration:hover #btn-configuration-icon {
    color: #0971CE;
}

#btn-help-icon:hover {
    color: #0971CE;
}

#btn-upload:hover #menu-upload {
    display: block;
}

#btn-save:hover #menu-save {
    display: block;
}

#btn-configuration:hover #menu-configuration {
    display: block;
}

#menu-alert {
    opacity: 0;
    bottom: '0px';
}

/* */

.side-menu {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 220px;
}

.marker {
    background-size: 18px 18px;
}

#question-mark {
    font-weight: bold;
    font-size: 20px;
}

.help-options {
    padding: 10px;
    text-align: center;
}

label.form-label {
    margin-bottom: 5px;
}

h4 {
    font-size: 16px;
}

.mb-3:last-child {
    margin-bottom: 0;
}

/* ANIMATIONS */

@keyframes error-alert-activation {
    0% {
        bottom: 5px;
        background-color: #ef4444;
        opacity: 0;
    }

    25% {
        bottom: 60px;
        opacity: 1;
        background-color: #ef4444;
    }

    90% {
        bottom: 60px;
        opacity: 1;
        background-color: #ef4444;
    }

    100% {
        bottom: 5px;
        opacity: 0;
        display: none;
    }
}

@keyframes success-alert-activation {
    0% {
        bottom: 5px;
        background-color: #22c55e;
        opacity: 0;
    }

    25% {
        bottom: 60px;
        opacity: 1;
        background-color: #22c55e;
    }

    90% {
        bottom: 60px;
        opacity: 1;
        background-color: #22c55e;
    }

    100% {
        bottom: 5px;
        opacity: 0;
        display: none;
    }
}

.error-alert-activation {
    animation-name: error-alert-activation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.success-alert-activation {
    animation-name: success-alert-activation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}


/* MEDIA QUERY */

@media screen and (max-width: 767px) {

    #btn-top {
        top: 72px;
        left: 10px;
    }

}

@media screen and (max-width: 600px) {
    #btn-top {
        top: 10px;
    }

    .calculation-box {
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .mapboxgl-ctrl-top-right {
        top: 66px;
        width: 100%;
    }

    div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
        margin: 10px 10px 0 10px;
    }
}

@media screen and (max-width: 560px) {

    #btn,
    #btn-mission {
        bottom: 70px;
    }

    nav,
    .modal-config {
        bottom: 124px;
        z-index: 99;
    }
}